/* .navbar-tel {
    text-decoration: none;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.navbar-text {
    margin-right: auto;
}

.navbar-brand {
    margin-left: 10px;
}

.navbar-collapse {
    margin-left: 30px;
}

.nav-icon {
    flex-direction: row;
}

.navbar {
    min-width: 255px;
    min-height: 70px;
}

.container {
    max-width: 1200px;
    min-width: 280px;
}

.container-inside {
    margin-left: 20px;
    margin-right: 20px;
}


.header {
    margin-bottom: 80px;
}

.section {
    margin-top: 0.5rem;
}

.title-head {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.btn-head {
    margin-top: 0.5rem;
    margin-bottom: 1.7rem;
}

.card-img-top {
    margin-top: 0.7rem;
}

.lead {
    width: 40rem;
}

.lead-2 {
    margin-left: 15px;
}

.margin-bottom-1 {
    margin-bottom: 1.5rem;
}

.container-bg-light {
    background-clip: content-box;
    background-color: rgba(242, 244, 246, 0.815);
}

.bg-light1 {
    background-color: rgba(242, 243, 245, 0.968);
}

.trainer-carousel {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.card {
    margin-top: 1.0rem;
    max-width: 14rem;
}

.contacts {
    max-width: 25rem;
    margin-right: 1.5rem;
}

.maps {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

:target {
    scroll-margin-top: 4rem;
} */

.fix {
    position: sticky;
    top: 1px;
    z-index: 999;
}

.background_star {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 400px;
    height: 400px;
    background: url(./../../src/assets/bigStar.png) no-repeat center center;
    background-size: contain;


}

/* .row {
    flex-direction: column;
    align-items: center;
    display: flex;
} */